<!-- student-form.component.html -->

<div class="form-container">
  <form>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" [(ngModel)]="student.firstName" name="firstName" placeholder="Enter your first name" required />

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" [(ngModel)]="student.lastName" name="lastName" placeholder="Enter your last name" required />

    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" [(ngModel)]="student.dateOfBirth" name="dateOfBirth" />

    <label>Gender:</label>
    <div class="gender-radio">
      <label>
        <input type="radio" [(ngModel)]="student.gender" name="gender" value="male" />
        Male
      </label>
      <label>
        <input type="radio" [(ngModel)]="student.gender" name="gender" value="female" />
        Female
      </label>
    </div>

    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="student.email" name="email" placeholder="Enter your email" />

    <label for="phoneNumber">Phone Number:</label>
    <input type="tel" id="phoneNumber" [(ngModel)]="student.phoneNumber" name="phoneNumber" placeholder="Enter your phone number" />

    <!-- Course field -->
    <label for="courseId">Course:</label>
    <select id="courseId" [(ngModel)]="student.courseId" name="courseId">
      <option *ngFor="let course of courses" [value]="course.courseId">
        {{ course.courseId }} - {{ course.courseName }}
      </option>
    </select>

    <!-- School field -->
    <label for="schoolId">School:</label>
    <select id="schoolId" [(ngModel)]="student.schoolId" name="schoolId">
      <option *ngFor="let school of schools" [value]="school.schoolId">
        {{ school.schoolId }} - {{ school.schoolName }}
      </option>
    </select>

    <div class="button-container">
      <button type="button" (click)="cancel()">Cancel</button>
      <button type="button" (click)="saveStudent()">Save</button>
    </div>

  </form>
</div>

<style>
  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-top: 10vh;
  }

  form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 48px; 
  }

  button {
    flex: 0 0 48%; 
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

    button:hover {
      background-color: #0056b3;
    }

  .button-container button:first-child {
    background-color: #dc3545; 
  }
</style>


