<!-- school-form.component.html -->

<div class="flex-container">
  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div class="form-container">
    <form (ngSubmit)="saveSchool()">
      <label for="schoolName">
        School Name<span class="required-indicator">*</span> <span class="required-text">(required)</span>:
      </label>
      <input type="text" id="schoolName" [(ngModel)]="school.schoolName" name="schoolName" placeholder="Enter school name" required />

      <label for="schoolLocation">
        School Location:
      </label>
      <input type="text" id="schoolLocation" [(ngModel)]="school.schoolLocation" name="schoolLocation" placeholder="Enter school location" />

      <div class="button-container">
        <button type="button" (click)="cancel()">Cancel</button>
        <button type="submit">Save</button>
      </div>

    </form>
  </div>
</div>
