<!-- school-list.component.html -->

<div class="list-container">
  <div class="button-container">
    <a routerLink="/students" class="back-button">Back</a>
  </div>

  <table id="schoolTab" class="center-table">
    <thead>
      <tr>
        <th>School ID</th>
        <th>School Name</th>
        <th>School Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let school of schools">
        <td>{{ school.schoolId }}</td>
        <td>{{ school.schoolName }}</td>
        <td>{{ school.schoolLocation }}</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  #schoolTab {
    margin: auto;
    width: 90%;
  }

  .list-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-container {
    align-self: flex-end;
    margin-right: 90px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .back-button {
    padding: 10px;
    background-color: #495057;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .back-button:hover {
      background-color: #343a40;
    }

  .center-table table,
  .center-table th,
  .center-table td {
    border: 1px solid #e3e3e3;
    border-collapse: collapse;
    text-align: center;
  }

  .center-table tbody > tr:hover > td {
    background: #f4f4f4;
  }

  .center-table thead > tr > th {
    background: #f4f4f4;
    border-bottom: 1px solid #e3e3e3 !important;
  }

  .center-table tbody > tr:nth-child(even) {
    background: #fbfbfb;
  }
</style>
