<!-- student-list.component.html -->

<div class="list-container">
  <div class="button-container">
    <button class="add-school-button" (click)="addNewSchool()">Add New School</button>
    <button class="add-student-button" (click)="addNewStudent()">Add New Student</button>
    <button class="list-schools-button" (click)="listAllSchools()">School List</button>
  </div>
  <table id="tab1" class="center-table">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Course ID</th>
        <th>School ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.studentId }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.dateOfBirth | date:'short' }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phoneNumber }}</td>
        <td>{{ student.courseId }}</td>
        <td>{{ student.schoolId }}</td>
        <td>
          <button (click)="deleteStudent(student.studentId)" class="delete-button">Delete</button>
          <button (click)="showStudentDetails(student)" class="edit-button">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  #tab1 {
    margin: auto;
    width: 90%;
  }

  .center-table table,
  .center-table th,
  .center-table td {
    border: 1px solid #e3e3e3;
    border-collapse: collapse;
    text-align: center;
  }

  .center-table tbody > tr:hover > td {
    background: #f4f4f4;
  }

  .center-table thead > tr > th {
    background: #f4f4f4;
    border-bottom: 1px solid #e3e3e3 !important;
  }

  .center-table tbody > tr:nth-child(even) {
    background: #fbfbfb;
  }

  .button-container {
    position: absolute;
    top: 15px;
    right: 50px;
    display: flex;
    gap: 10px;
    margin: 10px;
    margin-right: 48px;
  }

  .add-student-button,
  .add-school-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .add-student-button:hover,
    .add-school-button:hover {
      background-color: #0056b3;
    }

  .add-school-button {
    padding: 10px;
    background-color: #28a745;
  }

    .add-school-button:hover {
      background-color: #218838;
    }

  .list-schools-button {
    padding: 10px;
    background-color: #6c757d; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .list-schools-button:hover {
      background-color: #495057; 
    }
</style>
